.main{
	text-transform: uppercase;
	font-size: 36px;
	margin-top: 145px;
}
.text-img{
	font-size:18px;
	margin-top: 40px;
}
.img{
	margin-top: 100px;
}
.img-3{
	margin-top: 114px;
}
.img-5{
	margin-top: 107px;
}